$color-white: #ffffff;
$color-white2: #f8f9fc;
$color-gray: #c0bfcf;
$color-gray2: #9d9db5;
$color-navyblue: #192140;
$color-black: #10131c;
$color-skyblue: #d7f8ff;
$color-lime: #dcf10d;
$color-blue: #0266ff;
