@use "variables";
@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.navbar-container {
  @include mixins.flex-align-center();
}
.logo {
  margin-left: 5%;
  width: 76px;
}
.navbar-container {
  display: flex;
  width: 80%;
  background-color: variables.$color-navyblue;
  @include mixins.header-container();
}
.menu-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  gap: 90px;
  margin-right: 5%;
}
.title-menu,
.signlog {
  @include mixins.flex-align-center();
  @include mixins.menu-font-props();
  text-align: center;
  color: #ffffff;
}
.Menu {
  display: flex;
  gap: 30px;
}
.SignLog {
  display: flex;
  gap: 10px;
}
.title-menu:hover {
  @include mixins.yellow-hover-effect();
  cursor: pointer;
}
.title-menu-blog {
  @include mixins.yellow-hover-effect();
  cursor: pointer;
  @include mixins.flex-align-center();
  @include mixins.menu-font-props();
  text-align: center;
}
.signlog {
  @include mixins.signup-login();
}
.signlog:hover {
  @include mixins.button-login();
  cursor: pointer;
}
.footer-container {
  display: flex;
  width: 100%;
  height: 176px;
  background-color: variables.$color-black;
}
.follow-us,
.legality {
  color: variables.$color-white;
  font-family: "Inter";
  font-size: 12px;
  width: 50%;
  margin-top: 50px;
}
.follow {
  margin-left: 80px;
}
.socialogo {
  margin: 10px 0px 0px 85px;
}
.legal {
  display: flex;
  justify-content: end;
  margin-right: 80px;
}
.hamburger {
  display: none;
}
.card-container {
  display: flex;
  background-color: variables.$color-white;
}
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 40px;
  justify-content: center;
  margin: 35px 80px 60px 80px;
}
.Cards-details {
  cursor: pointer;
  .Cards-image {
    @include mixins.image-properties();
  }
  .Text-Props {
    background-color: variables.$color-white2;
    border-radius: 0px 0px 6px 6px;
    padding: 10px 20px 5px 20px;
    position: relative;
    height: 115px;
  }
  .Cards-title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    @include mixins.cropped-displayed();
  }
  .Cards-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #625f87;
    margin-bottom: 10px;
    @include mixins.cropped-displayed();
  }
  .likes-author-container {
    @include mixins.flex-align-center();
    font-family: "Inter";
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    border-top: 0.5px solid #9d9db5;
    color: #9d9db5;

    .Cards-dot {
      margin: 2px 2px;
    }
    .comment,
    .heart {
      width: 20px;
      margin: 3px 5px 0px 10px;
    }

    .Cards-author {
      @include mixins.cropped-displayed();
      width: 110px;
    }
    .Cards-date {
      width: 57px;
    }
  }
}
.All-Fav,
.Add {
  display: flex;
}

.MainPageSelection {
  @include mixins.flex-align-justify-center();
  margin-top: 50px;
  width: 100%;
  gap: 35%;
}

.allpost,
.favorite,
.addpost {
  @include mixins.flex-align-justify-center();
  width: 102px;
  height: 50px;
  margin: 5px;
}
.allpost,
.favorite {
  @include mixins.allpost-favorite-props();
}
.addpost {
  @include mixins.addpost-props();
}
.Add-logo {
  display: none;
}
.allpost.active,
.favorite.active,
.addpost.active {
  background: #0266ff;
  color: #ffffff;
}
.allpost:not(.active):hover,
.favorite:not(.active):hover,
.addpost:not(.active):hover {
  border: 1px solid #0266ff;
  color: #0266ff;
}
.comment,
.heart {
  @include mixins.flex-align-justify-center();
  margin-top: 3px;
}
.heartBtn,
.commentBtn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.NoFavorite {
  font-family: "Inter";
  color: red;
  grid-column: 2/3;
}
.Text-Props:hover {
  background: #d7f8ff;
}
.Cards-PostDetails {
  margin-top: 60px;
}
.PostDetails-container {
  @include mixins.flex-justify-center();
  width: 100%;
}
.PostDetail-img {
  position: relative;
  border-radius: 10px;
  height: 320px;
  top: 60px;
  left: 40px;
}
.PostDetails-comment,
.PostDetails-heart {
  @include mixins.flex-align-center();
  gap: 5px;
}
.likes-author-PostDetails {
  display: flex;
  font-family: "Inter";
  font-size: 12px;
  margin: 30px 0px 30px 0px;
  gap: 20px;
  color: #9d9db5;
}
.author-date-container {
  @include mixins.flex-align-center();
  gap: 5px;
  margin: 20px 0px 40px 0px;
}
.PostDetails-date {
  margin-left: 15px;
}
.BlogReturn-container {
  display: flex;
  gap: 10px;
  font-family: "Inter";
  color: #0266ff;
  &:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    color: #dcf10d;
  }
}
.Blog-Navlink {
  text-decoration: none;
}
.Cards-PostDetails {
  width: 590px;
  .PostDetails-title {
    font-family: Arial;
    font-weight: 700;
    font-size: 36px;
    margin-top: 40px;
  }
  .PostDetails-author,
  .PostDetails-date {
    font-family: "Inter";
    font-size: 12px;
    color: #9d9db5;
  }
  .PostDetails-text {
    font-family: "Inter";
    font-size: 16px;
  }
  .LeaveComment {
    font-family: "Inter";
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0px 10px;
  }
  .Comments {
    font-family: "Inter";
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .Comment-container {
    .textarea {
      @include mixins.textarea-props();
      @include mixins.flex-align-center();
    }
    .sendContainer {
      display: flex;
      justify-content: end;
      margin-top: 10px;
    }
    .sendBtn {
      @include mixins.sendBtn-props();
      @include mixins.flex-align-justify-center();
      &:hover {
        background: #0266ff;
      }
    }
  }
}
.line {
  border: 1px solid #ebeff8;
  margin: 40px 0px 40px 0px;
}
.comment-author {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  color: #625f87;
}
.comment-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: #10131c;
}
.comment-date,
.comment-likes {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #9d9db5;
}
.Comment-line {
  border: 1px solid #ebeff8;
}
.Comment-props {
  margin-left: 15px;
}
.heart-date-container {
  display: flex;
}
.comment-date {
  margin-right: 20px;
}
.comment-heart-solid {
  margin-right: 5px;
}
.comment-author,
.comment-text {
  margin-bottom: 10px;
}
.comment-date {
  margin-bottom: 20px;
}
.comment-author,
.unknown-pic {
  margin-top: 20px;
}
.EachComment {
  display: flex;
  border-bottom: 1px solid #ebeff8;
}
.showMore {
  @include mixins.showmore-props();
  @include mixins.flex-align-justify-center();
  &:hover {
    background-color: #0266ff;
    color: #ffffff;
  }
}
.PostImage-container {
  height: 450px;
  width: 500px;
}
.NewPost-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  color: #10131c;
}
.addtitle,
.addText {
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  color: #10131c;
}
.addTitle-textarea {
  @include mixins.addtitle-textarea-props();
}
.AddText-textarea {
  @include mixins.addtext-textarea-props();
}
.PostBtn {
  @include mixins.postbtn-props();
  &:hover {
    background: #0266ff;
  }
}
.NewsPostForm {
  @include mixins.flex-align-justify-center();
  height: 780px;
}
.NewPost-title {
  margin: 40px 0px 40px 0px;
}
.addtitle,
.addText {
  margin: 20px 0px 20px 0px;
}
.addTitle-textarea,
.AddText-textarea {
  margin-bottom: 10px;
}
.PostBtn-container {
  margin: 20px 0px 20px 0px;
}
.ImageUploader-container {
  position: relative;
  bottom: 30px;
  left: 50px;
}

///////Media query for mobile//////////////////////
@media only screen and (max-width: 320px) {
  @include mixins.media-query-mobile-props();
}
///////////////////////////////////////////////////
